<ion-content>
    <mbsc-page>
        <mbsc-form [options]="formSettings">
           <!--  <mbsc-note color="primary">Use collapsible cards for segmenting long forms and to hide content.</mbsc-note> -->
        <!-- 
            <div class="mbsc-btn-group-block">
                <mbsc-button (click)="toggleFirst()">Toggle first card</mbsc-button>
                <mbsc-button (click)="closeAll()">Close all cards</mbsc-button>
            </div> -->
        </mbsc-form>
        
        <mbsc-card collapsible #run1="mobiscroll">
            <mbsc-card-header class="mbsc-card-header">
                <div>
                    <mbsc-card-subtitle class="mbsc-bold mbsc-txt-s">Current time</mbsc-card-subtitle>
                    <div class="mbsc-bold">Gray Line</div>
                    <div class="mbsc-grid mbsc-margin mbsc-txt-muted mbsc-bold mbsc-txt-s">
                        <div class="mbsc-row mbsc-no-padding">
                            <div class="mbsc-col">Time til Arrival: 3min</div>
                            <div class="mbsc-col">Prediced Time: 2min</div>
                            <div class="mbsc-col">Bus Speed or Some other Info</div>
                        </div>
                    </div>
                </div>
            </mbsc-card-header>
            <mbsc-card-content class="mbsc-no-padding">
                <img src="https://assets-global.website-files.com/58407e2ebca0e34c30a2d39c/584858fdb62ba82d512eeedd_hoboken-transit-map_2011-08-11web-reduced.jpg" />
                <div class="mbsc-btn-group-block">
                    <button class="mbsc-btn-primary">View details</button>
                    <button class="mbsc-btn-secondary">Share your Ride</button>
                </div>
            </mbsc-card-content>
        </mbsc-card>
        
    
         <mbsc-card collapsible #run1="mobiscroll">
            <mbsc-card-header class="mbsc-card-header">
                <div>
                    <mbsc-card-subtitle class="mbsc-bold mbsc-txt-s">Current time</mbsc-card-subtitle>
                    <div class="mbsc-bold">Red Line</div>
                    <div class="mbsc-grid mbsc-margin mbsc-txt-muted mbsc-bold mbsc-txt-s">
                        <div class="mbsc-row mbsc-no-padding">
                            <div class="mbsc-col">Time til Arrival: 3min</div>
                            <div class="mbsc-col">Prediced Time: 2min</div>
                            <div class="mbsc-col">Bus Speed or Some other Info</div>
                        </div>
                    </div>
                </div>
            </mbsc-card-header>
            <mbsc-card-content class="mbsc-no-padding">
                <img src="https://assets-global.website-files.com/58407e2ebca0e34c30a2d39c/584858fdb62ba82d512eeedd_hoboken-transit-map_2011-08-11web-reduced.jpg" />
                <div class="mbsc-btn-group-block">
                    <button class="mbsc-btn-primary">View details</button>
                    <button class="mbsc-btn-secondary">Share your Ride</button>
                </div>
            </mbsc-card-content>
        </mbsc-card>



         <mbsc-card collapsible #run1="mobiscroll">
            <mbsc-card-header class="mbsc-card-header">
                <div>
                    <mbsc-card-subtitle class="mbsc-bold mbsc-txt-s">Current time</mbsc-card-subtitle>
                    <div class="mbsc-bold">Green Line</div>
                    <div class="mbsc-grid mbsc-margin mbsc-txt-muted mbsc-bold mbsc-txt-s">
                        <div class="mbsc-row mbsc-no-padding">
                            <div class="mbsc-col">Time til Arrival: 3min</div>
                            <div class="mbsc-col">Prediced Time: 2min</div>
                            <div class="mbsc-col">Bus Speed or Some other Info</div>
                        </div>
                    </div>
                </div>
            </mbsc-card-header>
            <mbsc-card-content class="mbsc-no-padding">
                <img src="https://assets-global.website-files.com/58407e2ebca0e34c30a2d39c/584858fdb62ba82d512eeedd_hoboken-transit-map_2011-08-11web-reduced.jpg" />
                <div class="mbsc-btn-group-block">
                    <button class="mbsc-btn-primary">View details</button>
                    <button class="mbsc-btn-secondary">Share your Ride</button>
                </div>
            </mbsc-card-content>
        </mbsc-card>



         <mbsc-card collapsible #run1="mobiscroll">
            <mbsc-card-header class="mbsc-card-header">
                <div>
                    <mbsc-card-subtitle class="mbsc-bold mbsc-txt-s">Current time</mbsc-card-subtitle>
                    <div class="mbsc-bold">Blue Line</div>
                    <div class="mbsc-grid mbsc-margin mbsc-txt-muted mbsc-bold mbsc-txt-s">
                        <div class="mbsc-row mbsc-no-padding">
                            <div class="mbsc-col">Time til Arrival: 3min</div>
                            <div class="mbsc-col">Prediced Time: 2min</div>
                            <div class="mbsc-col">Bus Speed or Some other Info</div>
                        </div>
                    </div>
                </div>
            </mbsc-card-header>
            <mbsc-card-content class="mbsc-no-padding">
                <img src="https://assets-global.website-files.com/58407e2ebca0e34c30a2d39c/584858fdb62ba82d512eeedd_hoboken-transit-map_2011-08-11web-reduced.jpg" />
                <div class="mbsc-btn-group-block">
                    <button class="mbsc-btn-primary">View details</button>
                    <button class="mbsc-btn-secondary">Share your Ride</button>
                </div>
            </mbsc-card-content>
        </mbsc-card>



    </mbsc-page>
</ion-content>